{% extends 'base.html.njk' %}
{%block body%}
<h1>devmountain rules thank you for everything you all do!</h1>
<img
    src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXBpazV1MTN1eDZubXIzbDc2NnlpaTZzZDE3Zno5bDE5aWo5Mms1YSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/LrEuHhGTir0gtU0jVH/200.gif"
    alt="">
<img src="https://media.tenor.com/nfBoe2PFaDMAAAAd/shark-jumping.gif" alt=""> {%endblock%}