{% extends 'base.html.njk' %}
{% block body %}
  <h1>Welcome, {{ name }}</h1>
  {% for obj, prop in MOST_LIKED_FOSSILS %}
    <div class="fossil-div">
      <h3>{{ name }}, check out this {{ MOST_LIKED_FOSSILS[obj].name }}</h3>
      <h2>Liked {{ MOST_LIKED_FOSSILS[obj].num_likes }} times.</h2>
      <img src="{{ MOST_LIKED_FOSSILS[obj].img }}"/>
    </div>
  {% endfor %}
  <h3>Like one of these baddies:</h3>
  <form action="/like-fossil" method="post">
    <select action="/like-fossil" name="liked_fossils">
      <option value="aust">Australopithecus</option>
      <option value="quetz">Quetzal</option>
      <option value="steg">Stegosaurus</option>
      <option value="trex">Tyrannosaurus Rex</option>
    </select>
    <input type="submit"></form>
  {% endblock %}